@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #fca5a5;
    --typewriterSpeed: 2s;
    --typewriterCharacters: 24;
    /* --ptypewriterSpeed: 3s;
    --ptypewriterCharacters:120; */
  }
body {
    font-family: "Source Code Pro", monospace;
}
  #typewriter {
    font-size: 30px;
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
    color: white;
  }
  
  #typewriter::before,
  #typewriter::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  #typewriter::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  h1::after {
    width: 0.125em;
    background: white;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }

#subheader {
   
    font-family: 'Courier New', monospace;
    font-size: 30px;
    position: relative;
    position: relative;
    width: max-content;
    color: white;

}


.my-chart {
    padding-bottom: 20px;
}
